<header class="site-header">
  <div class="bg-neutral-900 py-2 lg:py-4 shadow-sm shadow-teal-900 shadow-opacity-10 z-10">
    <div class="container m-auto">
        <div class="flex flex-col lg:flex-row justify-between items-center gap-x-8 lg:gap-x-32 py-4 gap-y-4 lg:gap-y-0">
            <div class="text-4xl text-white tracking-wider">
              <a class="no-underline" href="/{{ site.base_url }}">
                <img src="{{ site.potter.banner }}" class="w-full px-16 lg:px-0 lg:w-44" alt="CSZ Academy">
              </a>
            </div>
            {% assign nav_items = site.data.navigation %}
            {% if nav_items.size > 0 %}
            <div class="flex gap-x-12">
                <!-- inactive state -->
                {%- for nav_item in nav_items -%}
                    {% if nav_item.link == page.url %}
                    <a href="{{ nav_item.link | relative_url }}" class="text-lg no-underline tracking-wide text-teal-500 hover:text-teal-600 font-bold">{{ nav_item.name }}</a>
                    {% else %}
                    <a href="{{ nav_item.link | relative_url }}" class="text-lg no-underline tracking-wide text-gray-200 hover:text-gray-100">{{ nav_item.name }}</a>
                    {% endif %}
                {%- endfor -%}
            </div>
            {% endif %}
        </div>
    </div>
  </div>
</header>

